<!DOCTYPE html>
<html>
<head>
  <title>安全中心</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel="stylesheet" type="text/css" href="setting.component.css">-->
</head>
<body>
<table style="padding-left:350px;padding-top: 70px;padding-bottom: 10px">
  <tr>
    <td><img src="../../../../assets/img/return.png" width="20px" height="20px" (click)="gotomenu"/></td>
    <td><label style="color: #4e5052;line-height:20px" (click)="gotomenu">返回主页</label></td>
    <td><label style="line-height: 20px">/管理员和操作员设置</label></td>
  </tr>
</table>

<div class="box">
  <span class="item">管理员信息</span>
  <span class="item" style="color:#578556">修改</span>
</div>

<div class="hr"><hr/></div>

<div class="span-left span-bottom">姓名：&nbsp;&nbsp;&nbsp;苏少博</div>
<div class="span-left span-bottom">身份证号:&nbsp;3210*********45678</div>
<div class="span-left span-bottom">手机号：&nbsp;&nbsp;86*******6689</div>

<div class="span-left span-top">普通管理员管理</div>
<div class="hr"><hr/></div>

<div class="box">
  <span class="item" style="font-size: 10px;line-height:30px">普通管理员可在开启安全保护下，进行商品处理、订单处理、授权操作员操作</span>
  <div class="button" >授权管理员</div>
</div>

<table width=100% style=" padding-left: 370px;padding-right: 370px;margin-top: 25px;text-align: center;">
  <tr style="background-color: #e5e5e5">
    <th>用户ID</th>
    <th>姓名</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  <tr>
    <td>00000002</td>
    <td>韩睿</td>
    <td>已绑定</td>
    <td><strong style="color: #578556">解除绑定</strong> </td>
  </tr>

  <tr>
    <td>00000003</td>
    <td>冀梦哲</td>
    <td>已绑定</td>
    <td><strong style="color: #578556">解除绑定</strong> </td>
  </tr>

  <tr>
    <td>00000004</td>
    <td>娄岳</td>
    <td>已绑定</td>
    <td><strong style="color: #578556">解除绑定</strong> </td>
  </tr>

  <tr>
    <td>00000005</td>
    <td>刘慧婷</td>
    <td>已绑定</td>
    <td><strong style="color: #578556">解除绑定</strong> </td>
  </tr>
</table>

<div class="span-left span-top">操作员管理</div>
<div class="hr"><hr/></div>

<div class="box">
  <span class="item" style="font-size: 10px;line-height:30px">操作员可在开启安全保护下，进行订单处理操作</span>
  <div class="button">授权操作员</div>
</div>

<table width=100% style=" padding-left: 370px;padding-right: 370px;margin-top: 25px;text-align: center;">
  <tr style="background-color: #e5e5e5">
    <th>用户ID</th>
    <th>姓名</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  <tr>
    <td>00000006</td>
    <td>任逸帆</td>
    <td>已绑定</td>
    <td><strong style="color: #578556">解除绑定</strong> </td>
  </tr>

  <tr>
    <td>00000007</td>
    <td>钟白</td>
    <td>已绑定</td>
    <td><strong style="color: #578556">解除绑定</strong> </td>
  </tr>

  <tr>
    <td>00000008</td>
    <td>路桥川</td>
    <td>已绑定</td>
    <td><strong style="color: #578556">解除绑定</strong> </td>
  </tr>

  <tr>
    <td>00000009</td>
    <td>肖海洋</td>
    <td>已绑定</td>
    <td><strong style="color: #578556">解除绑定</strong> </td>
  </tr>
</table>

<br/>
<br/>
<br/>

</body>
</html>



