<!DOCTYPE html>
<html>
<head>
  <title>菜单</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel="stylesheet" type="text/css" href="menu.component.css">-->
</head>
<body>
<div class="wrapper">
  <div  class="table">
    <tr>
      <td>
        <span style="color: #578556">当前操作员：</span>
        <span style="color: #578556">苏少博XXXXXXX（用户ID）</span>
      </td>
      <td>
        <span style="border-bottom: 1px solid #578556;color: #578556;cursor: pointer" (click)="gotosetting()">安全中心</span>
        <span style="border-bottom: 1px solid #578556;color: #578556;cursor: pointer" (click)="gotologin()">退出登录</span>
      </td>
    </tr>
  </div>


  <div align="center">
  <div class="button" (click)="gotoorder()" >
    <span class="text">订单管理</span>
  </div>
  </div>

  <div align="center">
    <div class="button"   (click)="gotopromenu()">
      <span class="text">商品管理</span>
    </div>
  </div>

</div>

</body>
</html>

