
.wrapper {
  background: #98BA9F;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: auto;
}

.box {
  display:flex;
  flex-wrap:nowrap;
  height: auto;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 40px;
  margin-bottom:100px;
  background-color: white;
  opacity: 0.5;
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px solid beige;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid beige;
  align-items: center;

}
