<div class="wrapper">

  <div id="return" class = "table" style="padding-left: 250px;padding-top: 50px">
    <tr>
      <td><img src="../../../../../assets/img/return.png" style="cursor: pointer" width="20px" height="20px" (click)="gotomenu()"/></td>
      <td><label style = "color:#4e5052; line-height: 20px;cursor: pointer" (click)="gotomenu()">返回主页</label></td>
      <td><label style = "line-height: 20px">/订单管理</label></td>
    </tr>
  </div>

  <div class="box" >
    <div class="column" style="flex-basis: 20%">
    <span class="item" style="height:200px;justify-content: space-around;">
       <span  style="margin-top: 100px">销售额</span>
      <span style="margin-bottom: 100px;margin-top: 50px "><select>
      <option value="sells">年份</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
      <option value="2013">2013</option>
      <option value="2012">2012</option>
      <option value="2011">2011</option>
      <option value="2010">2010</option>
      </select></span>
    </span>
      <span class="item" style="padding-top: 70px;padding-bottom: 70px;align-content: space-around;cursor: pointer" (click)="gotoinquiry()">订单查询</span>
    </div>
    <div class="column" style="flex-basis: 80%;">
    <span class="item" style="margin-top: 50px;margin-bottom:50px;padding-left:0px;padding-right:20px;border: 0px">
     <table id="products" class="table-position">
      <tr>
        <th style="width:5%">序号</th>
        <th style="width:8%">商品类别</th>
        <th style="width:8%">商品ID</th>
        <th style="width:30%">商品名</th>
        <th style="width:8%">年平均单价(元)</th>
        <th  style="width:8%; cursor: pointer" (click)="op.toggle($event)">年销售量<i class="fa-caret-down fa" style="padding-left: 5px"></i></th>
        <th style=" width:8%;cursor: pointer" (click)="op.toggle($event)">年销售额(千元)<i class="fa-caret-down fa" style="padding-left: 5px"></i></th>
      </tr>
      <tr>
        <td>1</td>
        <td>百事可乐</td>
        <td>XXXXX</td>
        <td>百事可乐200ML</td>
        <td>2.50</td>
        <td>18250</td>
        <td>45.625</td>
      </tr>
      <tr class="alt">
        <td>2</td>
        <td>百事可乐</td>
        <td>XXXXX</td>
        <td>百事可乐200ML</td>
        <td>3.00</td>
        <td>16500</td>
        <td>49.500</td>
      </tr>

    </table>
    </span>
    </div>
</div>
</div>



<p-overlayPanel #op>
  <span style="cursor: pointer;font-size: 10px;display: block">由低到高排列</span>
  <span  ><hr/></span>
  <span style="cursor: pointer;font-size: 10px;display: block">由高到低排列</span>
</p-overlayPanel>


