<html>
<head>

  <script>
    function print_ck(ckbox) {
      var ckbox = document.getElementById(ckbox.id);
    }
  </script>
  </head>
<body>
<br/>
<br/>


<div class="table-a">
  <table width="700" border="0" cellspacing="0" cellpadding="10" align="center">
    <tr>
      <td width="400" style="text-align: left;padding-left: 65px">支付金额</td>
      <td width="200" style="text-align: right;font-size: 25px;padding-right: 85px" ><strong>¥114.50</strong></td>

    </tr>
    <tr>
      <td width="400"></td>
      <td width="200" style="text-align: right;padding-right: 85px" >
        <input name="print" id="print" type="checkbox" style="zoom:120%" onClick="print_ck(this);" checked>打印小票
      </td>
    </tr>
  </table>
</div>

<br/>
<ul>
  <li>支付方式</li>
</ul>
<ul>
  <li><img src="../../../../assets/img/weixin.png" width="100px"  style="cursor: pointer" (click)="gotopayfinish()"></li>
  <li><img src="../../../../assets/img/zhifubao.png" width="100px" style="cursor: pointer" (click)="gotopayfinish()"></li>
  <li><img src="../../../../assets/img/yinlian.png" width="100px" style="cursor: pointer" (click)="gotopayfinish()"></li>
  <li><img src="../../../../assets/img/cash.png" width="100px" style="cursor: pointer" (click)="gotopayfinish()"></li>
</ul>
<br/><br/>
<ul>
  <li (click)="gotopayfinish()" style="text-align: center;cursor: pointer">微信支付</li>
  <li (click)="gotopayfinish()" style="text-align: center;cursor: pointer">支付宝支付</li>
  <li (click)="gotopayfinish()" style="text-align: center;cursor: pointer">银行卡支付</li>
  <li (click)="gotopayfinish()" style="text-align: center;cursor: pointer">现金支付</li>
</ul>

<br/>
<div style="text-align: center">
  <input type="button" name="Submit" value="返回" style="width:150px;height:45px;background:transparent;border:1px solid #000;border-radius: 7px"
         (click)="gotoproinfo()" />
  <!--<input type="button" name="Submit" value="返回" onclick="javascript:history.go(-1)" />-->
</div>
<br/><br/>
<div class="service" style="text-align: center;font-size: 12px" align="center">
  <a  style="color:#b31309"><img src="../../../../assets/img/service.png" width="35px" height="35px">
   遇到问题？客服为您服务</a>
</div>

</body>

</html>

