<div style="text-align: center">
  <div class="ui-g" style="text-align: center; width: 70%; margin: 0 auto">
    <div class="ui-g-12" style="text-align: right; margin: 0 auto">
      <button class="refresh-button">查看已绑定商品</button>
    </div>
    <div class="ui-g-3">
      当前芯片
    </div>
    <div class="ui-g-9" style="text-align: left">
      <p-dropdown [options]="chip_list" [(ngModel)]="current_chips"></p-dropdown>
    </div>
    <div class="ui-g-12 delete-padding ui-g" style="position: relative">
      <div class="ui-g-3">
        当前商品
      </div>
      <div class="ui-g-9" style="text-align: left">

        <p-dropdown [options]="chip_list1" [(ngModel)]="classs"></p-dropdown>
        <span>类</span>
        <span>ID</span>
        <p-dropdown [options]="chip_list2" [(ngModel)]="id"></p-dropdown>
      </div>
      <div class="ui-g-3"></div>
      <div class="ui-g-9" style="text-align: left">
        <p-dropdown [options]="chip_list3" [(ngModel)]="product"></p-dropdown>

      </div>
      <div class="ui-g-12" style="text-align: center">
        <button class="pipei">进行匹配</button>
      </div>
      <div style="position: absolute; bottom: 0; right: 0">
        <img src="../../../../../assets/img/cash.png" style="width: 40px; height: 40px">
      </div>
    </div>
  </div>


  <div *ngIf="false" class="ui-g" style="text-align: center; width: 70%; margin: 0 auto; position: relative">
    <div class="ui-g-3"></div>
    <div class="ui-g-9 ui-g" style="text-align: left">
      <div class="ui-g-12" >
        <p-dropdown [options]="chip_list1" [(ngModel)]="className"></p-dropdown>
        <span>类</span>
      </div>
      <div class="ui-g-12">
        <p-dropdown [options]="chip_list3" [(ngModel)]="product"></p-dropdown>
        <span>商品</span>
      </div>

      <div style="height: 0; border-bottom: 1px solid #4e5052; width: 100%"></div>
    </div>
    <div style="position: absolute; bottom: 5px; right: 0">
      <img src="../../../../../assets/img/cash.png" style="width: 40px; height: 40px">
    </div>
  </div>

  <div class="ui-g-12">
    <p-dropdown [options]="chip_list4" [(ngModel)]="type"></p-dropdown>
  </div>
</div>

<div id="myModal" class="modal" style="display: table" *ngIf="display">
  <!-- 弹窗内容 -->
  <div class="modal-content">
    <div class="modal-header">
      <i class="ion-close-round" style="font-size: 16px; float: right; cursor: pointer"
         (click)="closeModal()"></i>
    </div>
    <div class="modal-body">
        您正在将XXX与XXX进行匹配
    </div>
    <div class="modal-footer" style="padding-top: 0">
      <button class="refresh-button" style="width: 90px">确认</button>
      <button class="refresh-button" style="width: 90px">取消</button>
    </div>
  </div>
</div>
